# gitignore template for Drupal 8-9 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
web/sites/*/*settings*.php
web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
web/sites/*/files
web/sites/*/public
web/sites/*/private
web/sites/*/files-public
/sites/*/files-private

# Ignore paths that may contain temporary files
web/sites/*/translations
web/sites/*/tmp
web/sites/*/cache

# Ignore testing related files
web/sites/simpletest

# Ignore some drupal core files
web/modules/README.txt
web/profiles/README.txt
web/sites/README.txt
web/sites/development.services.yml
web/themes/README.txt
vendor
web/.csslintrc
/.editorconfig
web/.eslintignore
web/.eslintrc.json
/.gitattributes
web/example.gitignore
web/LICENSE.txt
web/README.txt

# Visual Studio Code & PhpStorm IDE
.idea
.vscode

# Exclude compressed files
*.zip
*.gz